[run]
branch = True

parallel = True

concurrency = multiprocessing

omit =
    # omit venv
    */venv/*
    */virtualenv/*

    # omit pycache directories
    */__pycache__/*

    # omit migrations
    */migrations/*

    # omit the tests themselves
    */test*

    # omit django stuff
    */manage.py
    */settings.py

    # init.py
    */__init__.py

[html]
directory = coverage/html